<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<beans:bean id="profileDao" class="javamag.dao.ProfileDaoImpl"/>
	<user-service id="testUsers">
	    <user name="admin" password="admin" authorities="MEMBER,ADMIN"/>
	    <user name="adam" password="123" authorities="MEMBER"/>
	    <user name="eva" password="abc" authorities="MEMBER"/>
   	</user-service>
	<authentication-manager>
	    <authentication-provider user-service-ref="testUsers" />
	</authentication-manager>
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/profile" access="hasRole('MEMBER')" />
   		<intercept-url pattern="/profile/**" access="hasRole('MEMBER')" />
	</http>
	<global-method-security pre-post-annotations="enabled" />
</beans:beans>
